/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente global */
:root {
  --font-vt323: 'VT323', monospace;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

/* Estilo predeterminado */
body {
  font-family: var(--font-vt323); /* Fuente VT323 para todo el cuerpo */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-vt323); /* Títulos con estilo hacker */
}

code, pre {
  font-family: var(--font-roboto-mono); /* Código con fuente Roboto Mono */
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 2s ease-in-out infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom {
  animation: zoom 1s ease-in-out infinite;
}
