/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente global */
:root {
  --font-vt323: 'VT323', monospace;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

/* Estilo predeterminado */
body {
  font-family: var(--font-vt323); /* Fuente VT323 para todo el cuerpo */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-vt323); /* Títulos con estilo hacker */
}

code, pre {
  font-family: var(--font-roboto-mono); /* Código con fuente Roboto Mono */
}
